@model Cart
<div class="amado-main-page-container">
        <div class="checkout">
            <h2 class="checkout-header">Checkout</h2>
            <form id="checkout-form-id" class="checkout-form" asop-action="checkout" method="post">
                <input class="checkout-form-first-name" placeholder="First Name" />
                <input class=" checkout-form-last-name" placeholder="Last Name" />
                <input class="checkout-form-company-name" placeholder="Company Name" />
                <input class="checkout-form-email" placeholder="Email" />
                <select class="checkout-form-country">
                    <option value="egypt">Egypt</option>
                </select>
                <input Address" class="checkout-form-address" placeholder="Address" />
                <input Town" class="checkout-form-town" placeholder="Town" />
                <input ZIPCode" class="checkout-form-zip-code" placeholder="Zip Code" />
                <input PhoneNo" class="checkout-form-phone-no" placeholder="Phone No" />
                <textarea class="checkout-form-comment" cols="30" rows="10" placeholder="Leave a comment about your order"></textarea>
            </form>
        </div>
        <div class="cart-total">
            <h2 class="cart-header">Cart Total</h2>
            <ul class="cart-list">
                <li><p>subtotal:</p></li>
                <li><p>@Model.TotalPrice</p></li>
                <li><p>Delivery:</p></li>
                <li><p>Free</p></li>
                <li><p>Total:</p></li>
            <li><p>@Model.TotalPrice</p></li>
            </ul>
        <button class="cart-button" type="submit" form="checkout-form-id" asp-area="" asp-controller="Home" asp-action="Checkout">Checkout</button>
        </div>
</div>