@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div id="toTop"><i class="fa-solid fa-up-long"></i></div>

<!-- Start Content -->
<!-- Enter Your Content Here  -->
<div class="amado-main-page-container">
    <div class="in-container">
        <section class="categories-bar">
            <p class="title">Categories</p>
            <ul>
                <li>Chairs</li>
                <li>Beds</li>
                <li>Accessories</li>
                <li>Furniture</li>
                <li>Home deco</li>
                <li>Dressings</li>
                <li>Tables</li>
            </ul>
            <div class="brands">
                <p class="title">Brands</p>
                <div class="check-item">
                    <input type="checkbox" id="amado" name="amado" value="Amado">
                    <label for="amado">Amado</label><br>
                </div>
                <div class="check-item">
                    <input type="checkbox" id="ikea" name="ikea" value="Ikea">
                    <label for="ikea">Ikea</label><br>
                </div>
                <div class="check-item">
                    <input type="checkbox" id="furniture" name="furniture" value="Furniture">
                    <label for="furniture">Furniture Inc</label><br>
                </div>
                <div class="check-item">
                    <input type="checkbox" id="factory" name="factory" value="Factory">
                    <label for="factory">The Factory</label><br>
                </div>
                <div class="check-item">
                    <input type="checkbox" id="artdeco" name="artdeco" value="Art Deco">
                    <label for="artdeco">Art Deco</label><br>
                </div>
            </div>
            <div class="colors">
                <p class="title">Color</p>
                <span class="color-btn"></span>
                <span class="color-btn"></span>
                <span class="color-btn"></span>
                <span class="color-btn"></span>
                <span class="color-btn"></span>
                <span class="color-btn"></span>
                <span class="color-btn"></span>
                <span class="color-btn"></span>
            </div>
            <div class="price">
                <p class="title">Price</p>
                <div class="range_container">
                    <div class="sliders_control">
                        <input id="fromSlider" type="range" value="0" min="0" max="100" />
                        <input id="toSlider" type="range" value="100" min="0" max="100" />
                    </div>
                </div>
                <p class="price-range">$10 - $1000</p>
            </div>
        </section>
        <section class="products">
            <div class="showing">SHOWING 1-8 OF 25</div>
            <div class="show-products">
                <div class="show-way">
                    <i class="fa fa-th-large"></i>
                    <i class="fa fa-bars"></i>
                </div>
                <div class="sort-view">
                    <div class="sort">
                        <p>Sort By</p>
                        <select name="Select">
                            <option value="Date">Date</option>
                            <option value="Newest">Newest</option>
                            <option value="Popular">Popular</option>
                        </select>
                    </div>
                    <div class="view">
                        <p>View</p>
                        <select name="Select">
                            <option value="12">12</option>
                            <option value="24">24</option>
                            <option value="36">36</option>
                            <option value="48">48</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="product-cards">
                <div class="card">
                    <div class="card-img">
                        <img src="~/assets/1.jpg.webp" style="width: 100%">
                    </div>
                    <div class="card-body">
                        <div class="product-details">
                            <p class="pro-price">$180</p>
                            <p class="pro-category">Modern Chair</p>
                        </div>
                        <div class="add-product-to-cart">
                            <div class="stars">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                            <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-img">
                        <img src="~/assets/4.jpg.webp" style="width: 113%">
                    </div>
                    <div class="card-body">
                        <div class="product-details">
                            <p class="pro-price">$180</p>
                            <p class="pro-category">Modern Chair</p>
                        </div>
                        <div class="add-product-to-cart">
                            <div class="stars">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                            <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-img">
                        <img src="~/assets/5.jpg.webp" style="width: 100%">
                    </div>
                    <div class="card-body">
                        <div class="product-details">
                            <p class="pro-price">$180</p>
                            <p class="pro-category">Modern Chair</p>
                        </div>
                        <div class="add-product-to-cart">
                            <div class="stars">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                            <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-img">
                        <img src="~/assets/6.jpg.webp" style="width: 113%">
                    </div>
                    <div class="card-body">
                        <div class="product-details">
                            <p class="pro-price">$180</p>
                            <p class="pro-category">Modern Chair</p>
                        </div>
                        <div class="add-product-to-cart">
                            <div class="stars">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                            <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-img">
                        <img src="~/assets/7.jpg.webp" style="width: 100%">
                    </div>
                    <div class="card-body">
                        <div class="product-details">
                            <p class="pro-price">$180</p>
                            <p class="pro-category">Modern Chair</p>
                        </div>
                        <div class="add-product-to-cart">
                            <div class="stars">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                            <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-img">
                        <img src="~/assets/8.jpg.webp" style="width: 118%">
                    </div>
                    <div class="card-body">
                        <div class="product-details">
                            <p class="pro-price">$180</p>
                            <p class="pro-category">Modern Chair</p>
                        </div>
                        <div class="add-product-to-cart">
                            <div class="stars">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                            <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="pagination">
                <li class="active">01</li>
                <li>02</li>
                <li>03</li>
                <li>04</li>
            </ul>
        </section>
    </div>

    <div class="footer">
        <div class="footerlist">
            <ul>
                <li><a asp-area="" asp-controller="Home" asp-action="Index">HOME</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Shop">Shop</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Cart">Cart</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Checkout">Checkout</a></li>
            </ul>
        </div>
        <div class="logofooter">
            <img src="https://preview.colorlib.com/theme/amado/img/core-img/logo2.png" alt="your photo" id="logofooter">
        </div>
    </div>
</div>
    
<!-- End content -->